@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Noto+Serif+TC&effect=neon');

body { background: #222; font-family: 'Noto Serif TC', cursive; }

.folio {display: flex;flex-direction:row; flex-flow: wrap; margin: -80px auto 0 auto; max-width: 1080px;}
.folio-col { display: flex; flex: 1; flex-direction: column; }
.folio-panel { display: flex; flex-direction: column; overflow: hidden; margin: 30px; background-color: #333; color: white; border-radius: .6em .6em 0 .6em; font-size: 2em; cursor: pointer; transition: all .3s; }
.folio-panel:hover { background-color: #111; transform:rotate(0deg) !important; }
.folio-panel:hover img { filter: grayscale(0);  }
.folio-panel p {padding: 0 20px;font-size: 0.8em;margin: 20px 0 5px;}
.folio-panel img { width: 100%; filter: grayscale(1); transition: filter .3s; }
.folio-panel span {padding: 0 20px 20px 20px;font-size: 0.5em;}

@media (max-width: 680px) {

	.folio { flex-flow: column; padding: 20px; }
	.folio-col:last-of-type { order: 0; color: blue; }
}

.me {width: 160px;margin: 100px 0 0px 0;transition: transform .3s ease-out;}
.me:hover { transform:rotate(360deg); }
.bb h1 { font-family: 'Butterfly Kids', cursive; font-size: 12em; margin: .3em 0 .3em 0; color: white; }
.bb h2 { font-family: 'Butterfly Kids', cursive; font-size: 2em;margin: 20px 0 160px 0;color: white; }

#jqcloud { margin: 0 auto; color: #fff; font-family: 'Noto Serif TC', cursive; }